.tasa-explorer-<uniquifier> {
  font-family: "TASA Explorer", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
background-color: #f1f3f5;
}
h1 {
  color: #ff5e00;
}

h2{
  
}
  
.navigation-panel {
  background-color: white;
}
